html{
    font-family: Bahnschrift;
    background-image: url("/~dolj14/statickyWeb/resources/pozadi/mainBackground.png");
}
h1{
    font-size: 50px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
#h1Border{
    display: flex;
    justify-content: center;
    grid-auto-columns: 50% 50%;
}
#h1BorderRight{
    align-self: center;
    border-bottom: 2px solid black;
    animation: borderShow 3s normal forwards;
}
#h1BorderLeft{
    align-self: center;
    border-bottom: 2px solid black;
    animation: borderShow 2s normal forwards;
}
#h1Border:disabled{
    width: 100%;
}

body{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 135px;
    gap: 45px;
}

#sections{
    display: flex;
    gap: 80px;
}

.sectionImage{
    height: 90px;
}
.section:hover {
    border: 1px solid grey;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    margin: 1px;
}
.section{
    width: 130px;
    padding: 5px;
    margin: 2px;
}
@keyframes borderShow {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes borderShowLeft {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

