html{
    font-family: Bahnschrift;
    background-image: url("/~dolj14/statickyWeb/resources/pozadi/mainBackground.png");}
.mainMenu{
    display: none;
}

h1{
    text-align: center;
    min-width: 400px;
    border-bottom: 1px grey solid;
    margin-bottom: 20px;
    background-color: white;
}