html{
    font-family: Bahnschrift;
    background-image: url("/../resources/pozadi/mainBackground.png");
}
.mainMenu{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: white;
    transition: .2s;
}

.menuImage {
    height: 30px;
}
.menuImage:hover{
    transform: scale(1.7);
    border-radius: 8px;
}

h1{
    text-align: center;
    min-width: 400px;
    border-bottom: 1px grey solid;
    margin-bottom: 20px;
    background-color: white;
}