html{
    font-family: Bahnschrift;
}
.mainMenu{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.menuImage {
    height: 30px;
}
.menuImage:hover{
    transform: scale(1.7);
    border-radius: 8px;
    filter: invert();
    background-color: white;
}
h1{
    text-align: center;
    min-width: 400px;
    border-bottom: 1px grey solid;
    margin-bottom: 20px;
}